.App {
  font-family: FinalFantasy-aa4m;
  text-align: center;

  background-image: linear-gradient(
    360deg,
    rgb(73, 111, 160),
    rgb(26, 66, 117)
  );
}

html {
  scroll-behavior: smooth;
}
